/*Navigation bar on top section colors and style*/
nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 10px 20px;
    text-align: center;
    z-index: 10; /* Ensure it stays on top of other content */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
nav ul li {
    display: inline-flex;
    margin: 0 15px;
}
nav ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    position: relative;
    padding: 5px;
}
nav ul li a:not(.logo-left):not(.logo-right)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    color: #FFD700; /* Highlight on hover */
    background-color: #322b2b;
    transition: width 0.3s ease; /* Animation effect */


}
nav ul li a:not(.logo-left):not(.logo-right):hover::after{
    width: 100%;
}
.logo-left, .logo-right {
    display: flex;
    align-items: center;
}

.logo-left img, .logo-right img {
    border-radius: 50%; /* Adjust value to control roundness */
    width: 80px; /* Adjust size as needed */
    height: auto;
    margin: 0 5px;
}

/* Reset margin and padding for html and body */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero {
    padding-top: 80px;
    background-image: url('contents/images/boteenohiotaller.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
    padding: 40px;
    border-radius: 16px; /* Optional: adds rounded corners */
}
.hero-text h1 {
    font-size: 6em;
}
.hero-text p {
    font-size: 2.4em;
}

#team {
    background-color: #8BC53F; /* Light coral background */ /*Esto es color del background*/
    color: #000000; /* Darker text color */ /*Esto el color del texto*/
    padding: 20px;
    text-align: center;
}
#team img{
    max-width: auto; /* Set maximum width for images */
    height: 300px; /* Maintain aspect ratio */
    border-radius: 8px; /* Optional: adds rounded corners */
    margin: 10px 0; /* Adds spacing around the image */
}


#gallery {
    text-align: center;
    
}
#gallery img {
    display: block;
    max-width: 600px; /* Set maximum width for images */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Optional: adds rounded corners */
    margin: 0 auto; /* Adds spacing around the image */
}

#achievements{
    background-color: #8BC53F; /* Light coral background */ /*Esto es color del background*/
    color: #000000; /* Darker text color */ /*Esto el color del texto*/
    padding: 20px;
    text-align: center;
}

#header{
    background-color: #8BC53F; /* Light coral background */ /*Esto es color del background*/
    color: #000000; /* Darker text color */ /*Esto el color del texto*/
    padding: 20px;
    text-align: center;
}
#about{
    background-color:#029BE7; /* Light coral background */ /*Esto es color del background*/
    color: #000000; /* Darker text color */ /*Esto el color del texto*/
    padding: 20px;
    text-align: center;
}

#contact{
    background-color:#8BC53F; /* Light coral background */ /*Esto es color del background*/
    color: #000000; /* Darker text color */ /*Esto el color del texto*/
    padding: 20px;
    text-align: center;
}